@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .container:last-child {
    width: 1158px;
  }

  /* HEADER */
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-list {
    margin-left: 76px;
  }

  /* ADDRESS */
  .main-address {
    margin-left: auto;
  }
  .address-list > li:first-child {
    margin-bottom: 0;
  }
  .address-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-item:active,
  .address-item:hover,
  .address-item:focus {
    color: var(--header-action-color);
  }
  .mob-menu {
    display: none;
  }
  /* MAIN */
  /* HERO */
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
  }
  .hero-background {
    max-width: 1440px;
  }
  .hero-text {
    margin: 0 auto 48px;
  }

  /* ADVANTAGES */
  .advantages {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-list > .item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-title {
    margin: 8px 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .advantages-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--contact-color);
  }
  .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px;

    height: 120px;
  }

  /* SHOWCASE */
  .showcase {
    display: block;
    padding-bottom: 120px;
  }
  .showcase-text {
    margin-bottom: 72px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .showcase-list {
    display: flex;
    list-style: none;
    gap: 24px;
  }
  .showcase-list > .item {
    width: calc((100% - 48px) / 3);
  }
  /* TEAM */

  .team-section {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-list > .item {
    width: calc((100% - 72px) / 4);
  }

  /* COSTUMERS */
  .costumers {
    padding: 120px 0;
  }
  .costumers-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main-color);
  }
  .costumers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .costumers-list > .item {
    width: calc((100% - 120px) / 6);
  }

  /* FOOTER */
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-wrap:nth-child(2) {
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-wrap:first-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-wrap:last-child {
    margin-left: 0px;
  }
  .footer-text {
    display: inline-block;
    margin-top: 16px;

    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    max-width: 264px;
  }
  .footer-social-media {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #f4f4fd;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover,
  .footer-link:focus {
    background-color: rgba(49, 208, 170, 1);
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    opacity: 1;
  }
  .footer-input:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  .footer-input-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #ffffff;
    letter-spacing: 0.04em;
  }

  .footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--background-btn-color);
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-text-color);
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--background-btn-hover-color);
  }
  /* PORTFOLIO PAGE */
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }
  .presentation {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .presentation-nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }

  .nav-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--btn-nohover-text-color);
    background-color: var(--btn-nohover-background-color);
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    cursor: pointer;
    transition-property: box-shadow, border-color, color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-btn:hover,
  .nav-btn:focus {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-text-color);
    border-color: var(--background-btn-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .presentation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .presentation-list > .item {
    width: calc((100% - 48px) / 3);
  }

  .presentation-list-text {
    border: 1px solid var(--accent-color);
    padding: 32px 16px;
    border-top: transparent;
  }
  .presentation-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .presentation-text {
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: var(--contact-color);
  }
  .presentation-link {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .presentation-link:hover,
  .presentation-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .presentation-link:hover .presentation-cover-text,
  .presentation-link:focus .presentation-cover-text {
    transform: translate(0);
  }
  /* TRANSITION PORTFOLIO */
  .presentation-cover-wrap {
    position: relative;
    overflow: hidden;
  }
  .presentation-cover-text {
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #f4f4fd;

    position: absolute;
    top: 0;

    height: 100%;
    background-color: var(--background-btn-color);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
