:root {
  --main-color: #2e2f42;
  --contact-color: #434455;
  --h1-color: #ffffff;
  --header-action-color: #404bbf;
  --background-btn-color: #4d5ae5;
  --background-btn-hover-color: #404bbf;
  --btn-text-color: #ffffff;
  --btn-nohover-text-color: #4d5ae5;
  --btn-hover-text-color: #ffffff;
  --btn-nohover-background-color: #f4f4fd;
  --btn-hover-background-color: #404bbf;
  --background-color: #f4f4fd;
  --team-text-color: #434455;
  --team-background-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --logo-main-color: #4d5ae5;
  --logo-footer-color: #f4f4fd;
  --logo-header-color: #2e2f42;
  --accent-color: rgba(231, 233, 252, 1);
  --backdrop-background-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;
}

/* BODY */
.body {
  font-family: "Roboto", sans-serif;
}
/* LOGO */
.logo-start {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
  text-transform: uppercase;
}
.logo-header {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-header-color);
}
.logo-footer {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

.logo {
  text-decoration: none;
  display: block;
}

/* DEFAULT */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
h1,
h2,
h3,
h4,
ul,
li,
p,
a,
span {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-scroll {
  overflow: hidden;
}
/* ICONS */
.icon {
  fill: currentColor;
}

/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  list-style: none;
  display: flex;

  gap: 40px;
  padding: 0;
  margin-left: 76px;
}
.header-list > li {
  position: relative;
}
.header-item {
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:active,
.header-item:hover,
.header-item:focus {
  color: var(--header-action-color);
}
.header-item.currant-page {
  color: var(--header-action-color);
}
.header-item.currant-page::after {
  display: block;
  position: absolute;
  top: 45px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border-color: var(--header-action-color);
  background-color: var(--header-action-color);
}
/* ADDRESS */
.main-address {
  display: flex;
  margin-left: auto;
}
.address-list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}
.address-item {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:active,
.address-item:hover,
.address-item:focus {
  color: var(--header-action-color);
}

/* MAIN */
/* HERO */
.hero {
  padding-bottom: 188px;
  padding-top: 188px;

  background-color: var(--main-color);

  text-align: center;
}
.hero-background {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text {
  margin: 0 auto 48px auto;
  max-width: 496px;

  color: var(--h1-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  min-width: 169px;

  background-color: var(--background-btn-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--background-btn-hover-color);
}
/* ADVANTAGES */
.advantages {
  padding-bottom: 120px;
  padding-top: 120px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list > .item {
  width: 264px;
}
.advantages-title {
  margin: 8px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--main-color);
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--main-color);
}
.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;

  height: 120px;
}

/* SHOWCASE */
.showcase {
  padding-bottom: 120px;
}
.showcase-text {
  margin-bottom: 72px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.showcase-list {
  display: flex;
  list-style: none;
  gap: 24px;
}
.showcase-list > .item {
  width: calc((100%-48px) / 3);
}
/* TEAM */

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.team-section {
  padding: 120px 0;
  background-color: var(--background-color);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-member {
  display: block;
}
.team-list > .item {
  width: calc((100% - 72px) / 4);
  background-color: var(--team-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}
.team-list-title {
  margin-top: 32px;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.item > .team-img {
  display: block;
}
.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover,
.item-link:focus {
  background-color: #404bbf;
}

/* COSTUMERS */
.costumers {
  padding: 120px 0;
}
.costumers-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-color);
}
.costumers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.costumer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;

  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  width: 168px;
  height: 88px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.costumer-link:hover,
.costumer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
/* FOOTER */
.footer {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.footer-wrap:nth-child(2) {
  margin-left: 120px;
  margin-right: 80px;
}
.footer-text {
  display: inline-block;
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  max-width: 264px;
}
.footer-social-media {
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-social-links {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: rgba(49, 208, 170, 1);
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  display: inline-block;
  border: 1px solid WHITE;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  min-height: 40px;
  min-width: 264px;
  height: 40px;
  color: WHITE;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: inherit;
}
.footer-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.footer-input-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  letter-spacing: 0.04em;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--background-btn-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--background-btn-hover-color);
}
/* PORTFOLIO PAGE */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.presentation {
  padding-top: 96px;
  padding-bottom: 120px;
}
.presentation-nav-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: var(--btn-nohover-text-color);
  background-color: var(--btn-nohover-background-color);
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition-property: box-shadow, border-color, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-text-color);
  border-color: var(--background-btn-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.presentation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.presentation-list > .item {
  width: calc((100% - 48px) / 3);
}

.presentation-list-text {
  border: 1px solid var(--accent-color);
  padding: 32px 16px;
  border-top: transparent;
}
.presentation-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--main-color);
}
.presentation-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.presentation-link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.presentation-link:hover,
.presentation-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.presentation-link:hover .presentation-cover-text,
.presentation-link:focus .presentation-cover-text {
  transform: translate(0);
}
/* TRANSITION PORTFOLIO */
.presentation-cover-wrap {
  position: relative;
  overflow: hidden;
}
.presentation-cover-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #f4f4fd;

  position: absolute;
  top: 0;

  height: 100%;
  background-color: var(--background-btn-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 408px;
  min-height: 576px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-background-color);
  padding: 72px 24px 24px;
}
.modal-icon {
  fill: currentColor;
}
.backdrop-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  color: rgba(46, 47, 66, 1);
  justify-content: center;
  align-items: center;
}
.backdrop-btn:is(:hover, :focus) {
  background-color: #404bbf;
  color: rgba(255, 255, 255, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.form-field:not(:last-child) {
  margin-bottom: 8px;
}

.form-field:nth-child(5) {
  margin-bottom: 24px;
  margin-top: 16px;
}
.form-field:nth-child(4) {
  margin: 0;
}
.form-field {
  position: relative;
}
.form-field > .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  left: 16px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 40px;
  color: var(--main-color);
  padding-top: 11px;
  padding-left: 38px;
  padding-bottom: 11px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: rgba(77, 90, 229, 1);
}
.modal-input:focus ~ .icon {
  fill: #4d5ae5;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;

  color: #8e8f99;
}
.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;

  background-color: var(--background-btn-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:is(:hover, :focus) {
  background-color: var(--background-btn-hover-color);
}
.comment {
  min-height: 120px;
  resize: none;
  width: 100%;
  padding: 8px 16px;
}

.form-field > a {
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;
  color: #4d5ae5;
}
.acceptance-text {
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-checkbox {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.label-checkbox:checked + .checkbox {
  background-color: rgba(64, 75, 191, 1);
  border-color: rgba(64, 75, 191, 1);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.privacy-wrap {
  position: relative;
}
