@media screen and (min-width: 768px) {
  /* DEFAULT */
  .container {
    max-width: 768px;
  }
  /* HEADER */

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-nav {
    display: flex;
  }

  .header-list {
    display: flex;

    gap: 40px;
    padding: 0;
    margin-left: 120px;
  }
  .header-list > li {
    position: relative;
  }
  .header-item {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item:active,
  .header-item:hover,
  .header-item:focus {
    color: var(--header-action-color);
  }
  .header-item.currant-page {
    color: var(--header-action-color);
  }
  .header-item.currant-page::after {
    display: block;
    position: absolute;
    top: 53px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-color: var(--header-action-color);
    background-color: var(--header-action-color);
  }
  .mobile-menu {
    display: none;
  }
  /* ADDRESS */
  .main-address {
    display: flex;
  }
  .address-list > li:first-child {
    margin-bottom: 12px;
  }
  .address-item {
    display: block;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;
    color: var(--contact-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-item:active,
  .address-item:hover,
  .address-item:focus {
    color: var(--header-action-color);
  }

  /* MAIN */
  /* HERO */
  .hero-text {
    margin: 0 auto 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-hero-x2.jpg);
    }
  }
  /* ADVANTAGES */

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-list > .item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-list > .item:not(:last-child) {
    margin-bottom: 0px;
  }
  .advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
  }
  .advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: var(--contact-color);

    text-align: left;
  }

  .advantages-icon {
    display: none;
  }
  /* SHOWCASE */
  .showcase {
    display: none;
  }
  /* TEAM */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-list > .item {
    margin: 0;
  }
  .team-list > .item:not(:last-child) {
    margin-bottom: 0px;
  }
  /* COSTUMERS */
  .costumers-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .costumers-list > .item {
    width: calc((100% - 48px) / 3);
    max-width: 190px;
  }
  /* FOOTER */

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-wrap {
    text-align: left;
  }
  .footer-wrap:first-child {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-wrap:last-child {
    margin-left: -42px;
  }
  .footer-wrap:nth-child(2) {
    margin-bottom: 0;
  }
  .footer-text {
    max-width: 264px;
  }

  .footer-social-links {
    display: flex;
    gap: 16px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    min-width: 264px;
  }

  .footer-input-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #ffffff;
    letter-spacing: 0.04em;
  }

  .footer-btn {
    margin: 0;
  }
  /* BACKDROP */

  /* MODAL */
  .modal {
    width: 392px;
    min-height: 584px;

    padding: 72px 16px 24px;
  }
}
